.bg-nav{
    
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 19%, rgba(241,111,92,1) 34%, rgba(246,41,12,1) 57%, rgba(241,111,92,1) 72%, rgba(240,47,23,1) 77%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(19%, rgba(248,80,50,1)), color-stop(34%, rgba(241,111,92,1)), color-stop(57%, rgba(246,41,12,1)), color-stop(72%, rgba(241,111,92,1)), color-stop(77%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 19%, rgba(241,111,92,1) 34%, rgba(246,41,12,1) 57%, rgba(241,111,92,1) 72%, rgba(240,47,23,1) 77%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 19%, rgba(241,111,92,1) 34%, rgba(246,41,12,1) 57%, rgba(241,111,92,1) 72%, rgba(240,47,23,1) 77%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 19%, rgba(241,111,92,1) 34%, rgba(246,41,12,1) 57%, rgba(241,111,92,1) 72%, rgba(240,47,23,1) 77%, rgba(231,56,39,1) 100%);
    background: linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 19%, rgba(241,111,92,1) 34%, rgba(246,41,12,1) 57%, rgba(241,111,92,1) 72%, rgba(240,47,23,1) 77%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #db3bdb;
    box-shadow: 0px 5px 4px -1px rgb(21, 20, 20);
}

.bg-login{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 3%, rgba(237,237,237,1) 13%, rgba(237,237,237,1) 74%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(3%, rgba(237,237,237,1)), color-stop(13%, rgba(237,237,237,1)), color-stop(74%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 3%, rgba(237,237,237,1) 13%, rgba(237,237,237,1) 74%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 3%, rgba(237,237,237,1) 13%, rgba(237,237,237,1) 74%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 3%, rgba(237,237,237,1) 13%, rgba(237,237,237,1) 74%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 3%, rgba(237,237,237,1) 13%, rgba(237,237,237,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    -webkit-box-shadow: 0px 0px 25px -1px rgba(158,153,158,1);
    -moz-box-shadow: 0px 0px 25px -1px rgba(158,153,158,1);
    box-shadow: 0px 0px 25px -1px rgba(158,153,158,1);
}

.bg-sidebar{
   
    background: linear-gradient(45deg, rgb(207, 185, 185) 0%, rgb(204, 183, 176) 19%, rgb(162, 144, 142) 34%, rgb(189, 169, 167) 57%, rgb(222, 210, 208) 72%, rgb(228, 209, 207) 77%, rgb(204, 170, 167) 100%);
    -webkit-box-shadow: 10px 0px 5px 0px rgba(201,189,201,1);
    -moz-box-shadow: 10px 0px 5px 0px rgba(201,189,201,1);
    box-shadow: 10px 0px 5px 0px rgba(201,189,201,1);
}

a.text-dark:hover, a.text-dark:focus {
    color: #f0f3f6 !important;
}

.btn-outline-danger:hover {
    color: #0f0e0e;
    background-color: #8a7b74;
    border-color: #ccboa4;
}

.btn-outline-danger {
    color: #804b37;
    background-color: transparent;
    background-image: none;
    border-color: #7e655b;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 56px);
    transition: all 0.9s;
    
}
.sidebar ul li a {
    display: block;
    padding: .75rem 1rem;
    color: #1F0808;
    text-decoration: none;

}
.sidebar ul li a:hover, .sidebar ul .active a {
    color: rgb(27, 30, 19);
    background: rgba(96, 50, 53, 0.51);
}
.sidebar ul ul a {
    padding-left: 2.5rem;
    background: rgba(0, 0, 0, .25);
}
.sidebar [data-toggle="collapse"] {
    position: relative;
}
.sidebar [data-toggle="collapse"]:before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}
.sidebar [aria-expanded="true"] {
    background: rgba(0, 0, 0, .25);
}
.sidebar [aria-expanded="true"]:before {
    content: "\f0d8";
}
.sidebar.toggled {
    margin-left: -250px;

}

.content {
    width: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.toggled {
        margin-left: 0;
    }
}